#TableIcons .tools>div, #TableIcons .tools input{
    display: inline;
}
#TableIcons .panel-body{
    height: 600px;
    overflow: auto;
}
#TableIcons tr.selected {
    background-color: khaki;
}
#TableIcons .myicon div{
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
}
#TableIcons td{
    vertical-align: middle;
}