.card {
    height: 128px;
    width: 128px;
    float: left;
}

.panel-body {
    clear: both;
}

.panel-heading {
    height: 150px;
}

.item {
    float: left;
}

.item {
    width: 128px;
    height: 128px;
}

.cart {
    width: 800px;
    height: 150px;
}

