#TableMessages .tools>div, #TableMessages .tools input{
    display: inline;
}
#TableMessages .panel-body{
    height: 600px;
    overflow: auto;
}
#TableMessages tr.selected {
    background-color: khaki;
}